@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/poppins-medium-webfont.woff') format('woff', 'woff2'),
    url('/fonts/poppins/poppins-black-webfont.woff') format('woff', 'woff2'),
    url('/fonts/poppins/poppins-bold-webfont.woff') format('woff', 'woff2');
}

// Font Family
$primary: 'Poppins', sans-serif;
$secondary: sans-serif;

// Font Weight
$light: 300;
$regular: 400;
$bold: 700;
$boldest: 900;
