.cart-wizard-container {
  display: block;
  position: sticky;
  top: 40px;
  height: 100%;
}

.cart-wizard-inner {
  background-color: $white;
  border-radius: px-to-rem(14);
  padding: px-to-rem(40) 0 px-to-rem(20);
  display: flex;
  flex-direction: column;
}

.cart-wizard-header {
  border-bottom: $thin-black;
  text-align: center;
}

.cart-wizard-main {
  flex: 1 0 auto;
  margin-bottom: px-to-rem(16);
  min-height: 300px;
}

.cart-wizard-item {
  @include unstyled-list();
  display: flex;
  align-items: center;
  padding-top: px-to-rem(10);

  img {
    max-width: 80px;
  }

  .title {
    font-size: px-to-rem(16);
    padding-left: px-to-rem(16);
  }
}

.remaining-items {
  color: $brand-primary;
  font-weight: $bold;
  text-align: center;
}

.cart-wizard-action {
  margin: 0 px-to-rem(20);
}

.remove {
  @include button-link();
}

.remove-all {
  text-align: center;

  &.disabled {
    color: $grey;
    cursor: not-allowed;
    font-weight: $regular;
  }
}
